@tailwind base;
@tailwind components;
@tailwind utilities;



ul li a.active {
    color: #ef1721;
}


/* service section part 
.background-custom{
    position: relative;
}
.background-custom::before{
    content: 'Services';
    position: absolute;
    font-size: 160px;
    font-weight: bold;
    left: 0;
    top: -160px;
    color: #f3f3f3;
    z-index: -1;
}
*/

/*Our services*/
.custom-hover:hover .hover-icon {
    color: #fff;
}

/* for blog hover */

.mainbloghover {
    transition: all 0.5s;
}

.bloghover {
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s;
}

.mainbloghover:hover {
    background-color: rgb(238, 231, 231);
}

.mainbloghover:hover .bloghover {
    opacity: 1;
    color: #ef1721;
}

.mainbloghover:hover .imagehover {
    transform: scale(1.1);
    /* transition: transform 0.3s ease; */
    transition: all 1s;
    animation-duration: 0.5s;
}



/* for dark and light mode design */

.mode.light {
    color: #111;
}

.mode.dark {
    color: #ffffff;
}

.bg.dark {
    background-color: white;
}

.text.dark{
    color: black;
}

.white.dark{
    color: white;
}

